<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../public/main.css">
    <script defer type="text/javascript" src="../public/main.js"></script>
</head>
<body>
    <h1>TnP IIITBH Backend Center!!</h1>
    <form id="register-form" method="post">
        <input type="text" name="username" required placeholder="Enter the User Name">
        <input type="password" name="password" required placeholder="Enter password">
        <input type="text" name="post" required placeholder="Enter Post">
        <input type="text" name="name" required placeholder="Enter Name">
        <input type="submit" value="Creat Admin">
    </form>
</body>
</html>